name: Mexc Multi-Timeframe Futures Bot

on:
  schedule:
    - cron: "*/20 * * * *"   # Her 20 dakikada bir çalışır
  workflow_dispatch:         # Manuel tetikleme
  push:
    paths:
      - "main.py"

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Kütüphaneleri Kur
        run: |
          pip install pandas numpy requests

      - name: Botu Çalıştır
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          python main.py
