name: OKX Smart Scanner

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install packages
        run: pip install requests pandas numpy
      - name: Run bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          TOP_N: 200
          VOL_MIN_EARLY: 200000
          VOL_MIN_CONF: 300000
          VRATIO_EARLY: 3.2
          VRATIO_CONF: 3.7
          MOM_1M_MIN: 0.0045
          PULLBACK_MIN: 0.0025
          PULLBACK_MAX: 0.0080
          RSI5_CONF_MIN: 53.0
          MAX_MSG_COINS: 20
        run: python main.py
