name: OKX Smart Scanner

on:
  schedule:
    - cron: "*/2 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install pandas numpy requests

      - name: Run bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          TOP_N: 80
          VOL_MIN_EARLY: 150000
          VOL_MIN_CONF: 250000
          VRATIO_EARLY: 3.0
          VRATIO_CONF: 3.5
          MOM_1M_MIN: 0.0045
          PULLBACK_MIN: 0.0025
          PULLBACK_MAX: 0.0080
          RSI5_CONF_MIN: 53.0
          MAX_MSG_COINS: 10
        run: |
          python main.py
